.b1{

   width: 40%;
  margin-left: 15%;
}

.t1{
    color: hsl(195deg, 85%, 41%);
    text-align:center;
     width: 70%;
     
}

.hh{

   
   width: 50%;
   margin-left: 25%;
   
}

.mmm{
    text-align: center; 
}




